/*
	Default CSS
	Author: Stefan Hälldahl
	Date: 2018-09-09
*/

/* Default settings */
body {
	color: #1b1b1b;
	background-color: #fdfdfd;
	font-family: 'Abel', Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	line-height: 1.8em; /* Make larger line height than default */
	margin: 0;          /* Zero margins as some browsers add them by default */
	padding: 0;
}

.half { width: percentage(1/2); }