/*
	Main CSS
	Author: Stefan Hälldahl
	Date: 2018-09-09
*/

/* Anchors */
a {
	color: #fdfdfd;
	text-decoration: none;
}

/* Logo shown top left */
.logo {
	float: left;
	color: #1b1b1b;
	background-color: #ffa000;
	font-family: 'Exo 2', sans-serif;
	font-size: 25px;
	font-weight: bolder;
	line-height: 60px;
	padding: 0 40px 0 40px;
	text-decoration: none;
}

/* Main container */
.container {
	width: 100%;
	max-width: 960px;
	box-sizing: border-box;
	overflow: auto;
	margin: 0 auto;
}
.container:after { clear: both }

/* All menus */
nav { overflow: hidden; }
nav .menu {
	list-style: none;
	margin: 0;
	padding: 14px 40px 0 8%;
	text-align: justify;
}
nav .menu:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
}
nav .menu li {
	display: inline-block; /* Regular text (side by side) */
}
nav .menu li a {
	position: relative; /* To get a:before absolute below */
}
nav .menu li a:before { /* Middle and out underline effect setup */
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	top: 21px;
	bottom: 0;
	left: 0;
	background-color: #fdfdfd;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.25s ease-in-out 0s;
	transition: all 0.25s ease-in-out 0s;
}
nav .menu li a:hover:before { /* Middle and out underline effect on hover */
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.current { color: #ffa000; } /* Currently selected menu item */

/* Fixed full-width header at top */
header {
	background-color: #1b1b1b;
	height: 60px;
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
	position: fixed; /* Lock menu */
	top: 0;          /* Lock upper */
	left: 0;         /* Lock left */
	z-index: 100;    /* Header in front of all other elements */
}

/* Map from Eniro */
#map {
	width: 100%;
	height: 450px;
	border: 0;
}

/* See-through plate behind header text */
.relative {
	position: relative;
	margin-top: 60px;
}
.relative .absolute {
	position: absolute;
	box-sizing: border-box;
	top: 18%;
	left: 0;
	right: 0;
	max-width: 960px;
	margin: 0 auto;
}

/* Hide select menu (only used in mobile layout) */
.menu-compact { display: none; }

/* Position search bar on top of image */
.search {
	position: absolute;
	right: 0;
	top: -30px;
}

/* Centering text */
.centerText {
	text-align: center;
	padding: 0;
}

img { max-width: 100%; } /* Dynamic images */
.fillwidth { width: 100%; }
.row-dark {	background-color: #e1e2e1; }

/* Articles (used on main page) */
article {
	width: 40%;
	float: left;
	text-align: center;
	vertical-align: top;
	padding: 4%;
}
article span { display: block; }
article:nth-child(odd) { margin-right: 2%; } /* Spacing between articles */

/* Information box centered in the middle */
.boxmiddle {
	width: 80%;
	text-align: center;
	padding: 4%;
}

/* Article footer links */
.button {
	color: #1b1b1b;
	background-color: #ffa000;
	font-weight: bold;
	display: block;
	text-align: center;
	border: 0;
}
.button-large {
	font-size: 0.9em;
	padding: 1em 2em 1em 2em;
}
.button:hover { background-color: #c67100; }

/* Main footer */
footer {
	clear: both; /* Clear all floats above */
	color: #fdfdfd;
	background-color: #1b1b1b;
	text-align: center;
	margin-top: 40px;
	padding: 30px 0 30px 0;
	position: relative;
}
footer .company {
	float: left;
	padding-left: 40px;
}
footer .icons {
	float: right;
	padding-right: 40px;
}
footer .icons a:nth-child(odd) {
	padding-right: 20px;
}

/* Contact form */
.contactform input[type=text], .contactform select, .contactform textarea {
	font-family: 'Abel', Helvetica, Arial, sans-serif;
	font-size: 0.9em;
    box-sizing: border-box;
	float: left;
    width: 100%;
    padding: 0.6em;
    border: 1px solid #e1e2e1;
    margin-bottom: 0.9em;
    resize: vertical /* Vertical resize the textarea only */
}
.contactform h3 { margin-top: 0; }
.contactform textarea {	height: 8em; }
.contactform label, .contactform input[type=submit] { float: left; }
.contactform a { color: #1b1b1b; }

/* Tablet media queries */
@media (max-width: 800px) {

	nav a { font-size: 0.9em; }
	article { width: 92%; } /* Show one article per row */
	.desktop { display: none; } /* Class that is visible on desktops only */
	.textplate { font-size: 0.8em; } /* Plate behind header text smaller */

	/* Turn off touch and scroll-zoom
	   Overlay fix as CSS validator complains about "pointer-events: none;" } */
	.notouch {
		opacity: 1;
		position: relative;
	}
	.notouch::after {
		position: absolute;
		content: ' ';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	/* Make buttons smaller, better looking when one column */
	article .button-wide {
		display: inline-block;
		padding: 0.2em 2.5em;
	}

	/* Change order on dark rows so that text is above image. Uses flexbox and is IE10+ compatible. */
	.row-dark .container {
		display: flex;
		flex-direction: column; 
	}
	.row-dark .container article:nth-child(even) { order: 1; }
	.row-dark .container article:nth-child(odd) { order: 2; }
}

/* Phone media queries */
@media (max-width: 560px) {

	.menu-std { height: 60px; }
	.menu-visible { height: 400px; }
	.textplate { font-size: 0.7em; } /* Plate behind header text smaller */
	.menu { display: none; } /* Hide horizontal menu (not used in mobile layout) */

	/* Show compact menu (only used in mobile layout) */
	.menu-compact {
		display: block;
		margin: 0;
		padding: 0;
		float: right;
		line-height: initial;
	}
	.menu-compact > li {
		display: inline-block;
		position: relative;
		color: #fdfdfd;
		padding: 10px 30px 0 30px;
		background: #1b1b1b;
		cursor: pointer;
	}
	.menu-compact > li ul {
		text-align: left;
		line-height: 2.6em;
		padding: 0;
		position: absolute;
		top: 60px;
		right: 0;
		width: 150px;
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	.menu-compact > li ul li { 
		background: #1b1b1b; 
		display: block;
		color: #fdfdfd;
		padding-left: 20px;
	}
	.menu-compact li ul li:hover { background: #6d6d6d; }
	.menu-visible .menu-compact > li > ul {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	.menu-compact > li ul li a { display: block; } /* Make whole menu item row clickable */

	/* Create animated hamburger icon */
	#hamburger {
		display: inline-block;
		cursor: pointer;
	}
	.bar1, .bar2, .bar3 { /* Hamburger bars */
		width: 25px;
		height: 3px;
		background-color: #fdfdfd;
		margin: 8px 0;
		transition: 0.4s;
	}
	.menu-visible .bar1 { /* Rotate first bar */
		-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
		transform: rotate(-45deg) translate(-9px, 6px) ;
	}
	.menu-visible .bar2 { opacity: 0; } /* Fade out the second bar */
	.menu-visible .bar3 { /* Rotate last bar */
		-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
		transform: rotate(45deg) translate(-8px, -8px) ;
	}
}

/* Old phone media queries */
@media (max-width: 400px) {
	.textplate { font-size: 0.55em; } /* Plate behind header text smaller */
}
